/* general page styling */

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
body {
  font: 1rem/1.5 Roboto;
}
@font-face
{
          font-family: judoFont;
          src:url('./fonts/japanese_2020/JAPANESE_2020.ttf')
}
footer{
          background-color: #973640;
          margin:auto;
          
}
iframe[seamless] {
  display: block;
}


#headlines-row
{
          position: relative;
          top:10px;
}


/* Index/Home template styling*/

/* Main Content styling */
.news-col
{
          
          background-size:cover;
          
          width:100%;
          height:300px;
          border-radius: 3px;
          display:flex;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          margin:auto;
          justify-content: center;
          /* transfer effect to on hover */
          box-shadow: 0 4px 8px 0 rgba(173, 31, 31, 0.37), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition:1s box-shadow;
          max-width: 900px;
          text-align: center;
          
}
.news-col:hover
{
          
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.685), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition:1s box-shadow;
}
#headlines-row
{
          background-color: #973640;
}
#centre-main-col
{
          align-self: flex-start;
                   
}
#right-main-col
{
          align-self:flex-start;
          
          
}
#left-main-col 
{
          align-self:flex-start;
          

}
#mainItem
{
          
}
.centreAnchorItemText
{
          display:block;
          color:#973640;
          font-family: judoFont;
          
}
.centreAnchorItem > img
{
          display:block;
          margin-top: 10;
          height:80%; 
          width:80%;
}
#rightItem
{
          background-color: var(--bs-white);
          
}
.recentEventsCard a 
{
          text-decoration: none;
          color:#973640
}
.calendarHead
{
          background-color: var(--bs-light);
}
.calendarItemDate
{
          color:#973640;
          text-align:left;
}
.calendarItemInfo
{
          text-align:left;
}
#leftItem
{
         
         
          opacity: 0.5;
          position:relative;

}
#leftItem:hover
{
          opacity: 1;
          transition:1s opacity;
}

#leftItem > .card > .card-body > .card-text 
{
          
          
          color:#ff0000;
          font-size:xx-large;
          text-decoration: none;
        
          
}



@media only screen and (max-width:767px)  
{
          #centre-main-col
          {
                    order:1;
          }          
          #left-main-col 
          {
                    align-self:flex-start;
                    order:2;

          }
          #right-main-col
          {
                    align-self:flex-start;
                    order:3;
                    
                    
          }
          #leftItem > .card >img 
          {
                    height:200px;
          }
          /* .textContainer
          {
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    color:white;
                    background-color: #97364059;
                    font-size: small;
          } */
          #main-image
          {
                    width:50px;
                    height:50px;
          }
}
/* general bootstrap elements styling*/
.card-title   
{
          font: 1rem/1.5 judoFont;
}


/* Header template content styling  */

/* navigation bar */
.nav-link{
          color:white;
         font: 1rem/1.5 judoFont;
}
a.nav-link:hover, a.nav-link:active, a.nav-link.active
{
          color: var(--bs-black) ;
}
#home-container
{
          width:100%;
          max-width:100%;
          margin:0;
          padding:0px;
          text-align: center;
          
}
#main-image-container-logoless
{
          
          width:100%;
          height:150px;
          
          padding-bottom:10px;
          margin:auto;
          text-align: center;
          align-items: top center;
          border-bottom:5px solid #973640;
}
#main-image-container
{
          width:100%;
          height:300px;
          
          padding-bottom:10px;
          margin:auto;
          text-align: center;
          align-items: top center;
          background-size: 100%;
          background-position: 50%;
          background-repeat:no-repeat;
          border-bottom:5px solid #973640;
}
#main-image
{
         
          width:100px;
          height:100px;
          border-radius:50px;
          /* border:2.5px solid #973640; */
          padding:0;
          position:relative;
          top:0%;
          background-color:#838383;
          

}
#carouselBox
{
          justify-content: center;
          display:flex;
}
#news_info
{
          
          margin-left:auto;
          margin-top:0px;
          max-width:1280px;
          
}
#carousel-controls
{
          /* position:relative; */
          /* bottom:60px; */
          opacity:0.4;
          background-color:rgb(0,0,0);
}
#caption
{
          /* position:relative; */
          /* top:10px;
          left:10px; */
}
#judoButton
{
          width:40px;
          height:30px;
}
#navigation-bar
{
          background-color: #973640;
        
}

#header-border
{
         height:20px;
}
/* media page styling */
#main-media-container
{
         min-height:65vh;
}
.mediaItem > img
{
          width:50%;
          height:50%;
}
#main-footer-container
{
          min-height:5vh;
          overflow:hidden;
}
#mediaHeadline
{
          color:white;
          text-align: center;
          font: 20px judoFont;
}
/* news page styling */


.newsItemContainer 
{
          padding:0;
          box-shadow: 0 4px 8px 0 rgba(158, 158, 158, 0.685), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition:1s box-shadow;
         
}

.newsItemImgAnchor
{
          width:100%;
          text-align: center;
          opacity:0.9;
}
/* .newsItemImgAnchor:hover
{
          opacity:1;
          transition:1s opacity;
} */
.newsItemText
{
        z-index: 2;
        margin-bottom:0px;
         
       
}
.newsItemDate
{
          margin-bottom:0px;
}
.textContainer
{
          position:absolute;
          bottom:20%;
          text-align: center;
          left:50%;
          transform:translate(-50%,-50%);
          color:white;
          background-color: #97364075;
}
/* .readMoreContainer 
{
          position: absolute;
          text-align: right;
          bottom:0;
          left:50%;
          transform: translate(-50%,-50%);
          color:white;
          border-top: 2px solid black;
} */
#newsReadMoreAnchor
{
          color:white;
          text-decoration: none;
}
#newsDate
{
        
         text-align: left;
         
}
.newsCaption
{
          position:relative;
          top:-14%;
          transform: translate(0,-14%);

}
.newsFigure
{
          margin-bottom:-7%;
         

}

.newsHeadline
{
          position:relative;
         
          background-color: #973640b9;

}

.animateButtonForward
{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.animateButtonForward:hover, .animateButtonForward:focus, .animateButtonForward:active 
{
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

.newsItemSelected {
  
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.newsItemSelected:hover, .newsItemSelected:focus, .newsItemSelected:active {
  box-shadow: 0 10px 10px -10px rgb(255, 255, 255);
}
.newsReadMore
{
         
          text-align:center;
          background-color:#3b3b3bd8;
          z-index:2;
}
/* #newsImgAnchor
{
          text-decoration:none;
          text-decoration-color: white;
          color: white;

} */
/* results page styling  */
#eventList
{
          padding:15px;
          margin:5px;
}
#eventItem
{
          color:white;

          
         
          
}
#eventList:hover
{
           box-shadow: 0 4px 8px , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
           transition:1s box-shadow;
}
.resultsTable
{
          color:white;
          margin:0;
          
          
}
.tableEventRow
{
          opacity:0.5;
}
.tableEventRow:hover
{
          opacity:1;
          transition: 1s opacity;
}

.underlineSelection
{
   
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.underlineSelection:before 
{
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color:#973640;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underlineSelection:hover:before, .underlineSelection:focus:before, .underlineSelection:active:before 
{
   -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}
.resultsContainer
{
          padding-bottom:1%;
}
.searchButton
{
          background-color: #973640;
          color: white;
}
