/* general page styling */

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
body {
  font: 1rem/1.5 Roboto;
}
@font-face
{
          font-family: judoFont;
          src:url('./fonts/japanese_2020/JAPANESE_2020.ttf')
}
footer{
          background-color: #973640;
          margin:auto;
          
}
iframe[seamless] {
  display: block;
}


#headlines-row
{
          position: relative;
          top:10px;
}


/* Index/Home template styling*/

/* Main Content styling */
.news-col
{
          
          background-size:cover;
          
          width:100%;
          height:300px;
          border-radius: 3px;
          display:flex;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          margin:auto;
          justify-content: center;
          /* transfer effect to on hover */
          box-shadow: 0 4px 8px 0 rgba(173, 31, 31, 0.37), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition:1s box-shadow;
          max-width: 900px;
          text-align: center;
          
}
.news-col:hover
{
          
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.685), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          transition:1s box-shadow;
}
#headlines-row
{
          background-color: #973640;
}
#centre-main-col
{
          align-self: flex-start;
                   
}
#right-main-col
{
          align-self:flex-start;
          
}
#left-main-col 
{
          align-self:flex-start;
          

}
#mainItem
{
          
}
#rightItem
{
          background-color: var(--bs-white);
          
}
#leftItem
{
          border-radius: 5px;
          opacity: 0.5;
          position:relative;

}
#leftItem:hover
{
          opacity: 1;
          transition:1s opacity;
}

#leftItem > .card > .card-body > .card-text 
{
          position:absolute;
          top:45%;
          left:40%;
          color:var(--bs-white);
          text-decoration: none;
          
}
#leftItem >  
{
          color:var(--bs-white);
}


@media only screen and (max-width:767px)  
{
          #centre-main-col
          {
                    order:1;
          }          
          #left-main-col 
          {
                    align-self:flex-start;
                    order:2;

          }
          #right-main-col
          {
                    align-self:flex-start;
                    order:3;
          }
          #leftItem > .card >img 
          {
                    height:200px;
          }
          
}
/* general bootstrap elements styling*/
.card-title   
{
          font: 1rem/1.5 judoFont;
}


/* Header template content styling  */

/* navigation bar */
.nav-link{
          color:white;
         font: 1rem/1.5 judoFont;
}
a.nav-link:hover, a.nav-link:active, a.nav-link.active
{
          color: var(--bs-black) ;
}
#home-container
{
          width:100%;
          max-width:100%;
          margin:0;
          padding:0px;
          text-align: center;
          
}

#main-image-container
{
          width:100%;
          height:300px;
          
          padding-bottom:10px;
          margin:auto;
          text-align: center;
          align-items: top center;
          background-size: 100%;
          background-position: 50%;
          background-repeat:no-repeat;
          border-bottom:5px solid #973640;
}
#main-image
{
         
          width:100px;
          height:100px;
          border-radius:50px;
          /* border:2.5px solid #973640; */
          padding:0;
          position:relative;
          top:0%;
          background-color:#838383;
          

}
#carouselBox
{
          justify-content: center;
          display:flex;
}
#news_info
{
          
          margin-left:auto;
         
          max-width:1280px;
          
}
#carousel-controls
{
          /* position:relative; */
          /* bottom:60px; */
          opacity:0.4;
          background-color:rgb(0,0,0);
}
#caption
{
          /* position:relative; */
          /* top:10px;
          left:10px; */
}
#judoButton
{
          width:40px;
          height:30px;
}
#navigation-bar
{
          background-color: #973640;
        
}

#header-border
{
         height:20px;
}

#main-media-container
{
         min-height:65vh;
}

#main-footer-container
{
          min-height:5vh;
          overflow:hidden;
}

/* results page styling  */
#eventList
{
          padding:15px;
          margin:5px;
}
#eventItem
{
          color:white;

          
         
          
}
#eventList:hover
{
           box-shadow: 0 4px 8px , 0 6px 20px 0 rgba(0, 0, 0, 0.19);
           transition:1s box-shadow;
}
