<script type='text/x-handlebars-template' id='header'>
                    <header>
                    
                              <div id='header-logo' class='.container bg-danger'>
                                        <h1 class='text-white bg-danger' id='main-title'>Athens Judo club</h1>
                                        <img id='logo' src='./assets/images/judo.png' width='150' height='140'>
                              </div>
                              <nav class="navbar navbar-expand-lg navbar-dark bg-danger" aria-label="Tenth navbar example">
                                        <div class="container-fluid">
                                                  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#navbarsExample08" aria-controls="navbarsExample08"
                                                            aria-expanded="false" aria-label="Toggle navigation">
                                                            <a class="navbar-brand" href=#'>
                                                                      <img id='judoButton' src='./assets/images/judo.png' width='24'
                                                                                height='24'>
                                                            </a>
                                                  </button>
                    
                                                  <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08"
                                                            style="">
                                                            <ul class="navbar-nav">
                                                                      <li class="nav-item">
                                                                                
                                                                                <a class="nav-link {{isNewsActive}}" aria-current="page"
                                                                                          href="#">News</a>
                                                                      </li>
                                                                      
                                                                      <li class="nav-item">
                                                                                <a class="nav-link {{isHomeActive}}" href="./Home.html" tabindex="-1"
                                                                                          aria-disabled="true">Home</a>
                                                                      </li>
                                                                      <li class="nav-item">
                                                                                <a class="nav-link {{isMediaActive}}" href="#" tabindex="-1" aria-disabled="true">Media</a>
                                                                      </li>
                                                                      <li class="nav-item dropdown">
                                                                                <a class="nav-link dropdown-toggle" href="#" id="dropdown08"
                                                                                          data-bs-toggle="dropdown"
                                                                                          aria-expanded="false">More</a>
                                                                                <ul class="dropdown-menu" aria-labelledby="dropdown08">
                                                                                          <li><a class="dropdown-item" href="#">Calendar</a>
                                                                                          </li>
                                                                                          <li class=>
                                                                                                    <a class="dropdown-item" href="#">Join us!</a>
                                                                                          </li>
                                                                                          <li><a class="dropdown-item" href="#">Contact
                                                                                                              us</a></li>
                                                                                </ul>
                                                                      </li>
                                                            </ul>
                                                  </div>
                                        </div>
                              </nav>
                    </header>
          </script>