<footer>

          <div class='container-fluid mainFooterContainer mt-0 rounded-2'>
                    <div class='row rounded-2'>
                              <!-- footer container for social media links and other elements that go there -->
                              <div class='col-sm-6 p-3 footerListContainer rounded-2'>
                                        <ul>
                                                  <li>
                                                            <a href='https://www.instagram.com/'><img alt='social media instagram link'
                                                                                src="/assets/images/instagram.svg" width='24' height='24'></a>
                                                  </li>
                                                  <li>
                                                  <a href='https://www.facebook.com/'><img alt='social media facebook link'
                                                                      src="/assets/images/facebook.svg" width='24' height='24'></a>
                                                  
                                                  </li>

                                                  
                                        </ul>
                              
                              </div>
                              <div class='col-sm-6 p-3 text-end'>
                                        <p>
                                                  <a href="http://jigsaw.w3.org/css-validator/check/referer">
                                                            <img style="border:0;width:88px;height:31px"
                                                                      src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
                                                  </a>
                                        </p>
                              </div>
                    </div>

          </div>
</footer>