<footer>

          <div id='main-footer-container' class='container-fluid '>
                    <div class='row'>
                              
                              <div id='footerListContainer' class='col p-3'>
                                        <ul>
                                                  <ui>
                                                            <a href='https://www.instagram.com/'><img alt='social media instagram link'
                                                                                src="./assets/images/bootstrap-icons/instagram.svg" width='24' height='24'></a>
                                                  </ui>
                                                  <a href='https://www.facebook.com/'><img alt='social media facebook link'
                                                                      src="./assets/images/bootstrap-icons/facebook.svg" width='24' height='24'></a>
                                                  
                                                  </ui>

                                                  
                                        </ul>

                              </div>

                    </div>

          </div>
</footer>