<footer>

          <div id='main-footer-container' class='container-fluid '>
                    <div class='row'>
                              <div class='col'>
                                        <ul>
                                                  <ui>
                                                            <img width='24' height='24'
                                                                      src='./assets/images/bootstrap-icons/facebook.svg'>
                                                  </ui>
                                                  <img width='24' height='24'
                                                            src='./assets/images/bootstrap-icons/instagram.svg'>
                                                  </ui>

                                                  </ui>
                                        </ul>

                              </div>

                    </div>

          </div>
</footer>