<header>

          <div id='header-border' class='.container-fluid row bg-dark rounded-1'></div>
          
          {{!-- <div id='title-logo-container' class='.container-fluid row justify-content-between bg-dark'>
          
                    <div id='title-container' class='col'>
                              <h1 class='text-white bg-dark' id='main-title'>Athens Judo club</h1>
                    </div>
                    <div id='logo-container' class='col'>
                              <img id='logo' src='./assets/images/479px-Judo_red_belt.svg.png' width='200' height='100'>
                    </div>
          
          </div> --}}
          
          <nav id='navigation-bar' class="navbar navbar-expand-lg rounded-1" aria-label="Tenth navbar example">
                    <div class="container-fluid">
                              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarsExample08" aria-controls="navbarsExample08"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <a class="navbar-brand" href=#'>
                                                  <img id='judoButton' src='./assets/images/judo.png' width='24'
                                                            height='24'>
                                        </a>
                              </button>

                              <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08"
                                        style="">
                                        <ul class="navbar-nav">
                                                  <li class="nav-item">

                                                            <a class="nav-link {{isNewsActive}}" aria-current="page"
                                                                      href="./News.html">Judo News</a>
                                                  </li>

                                                  <li class="nav-item">
                                                            <a class="nav-link {{isHomeActive}}" href="./Home.html"
                                                                      tabindex="-1" aria-disabled="true">Home</a>
                                                  </li>
                                                  <li class="nav-item">
                                                            <a class="nav-link {{isMediaActive}}" href="./Media.html"
                                                                      tabindex="-1" aria-disabled="true">Media</a>
                                                  </li>
                                                  <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" id="dropdown08"
                                                                      data-bs-toggle="dropdown"
                                                                      aria-expanded="false">More</a>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdown08">
                                                                      <li><a class="dropdown-item" href="#">Calendar</a>
                                                                      </li>
                                                                      <li class=>
                                                                                <a class="dropdown-item" href="#">Join
                                                                                          us!</a>
                                                                      </li>
                                                                      <li><a class="dropdown-item" href="#">Contact
                                                                                          us</a></li>
                                                            </ul>
                                                  </li>
                                        </ul>
                              </div>
                    </div>
          </nav>
          <div id='header-border' class='.container row bg-dark rounded-1'></div>
          <div id='main-image-container' class='container-fluid row justify-content-center bg-dark rounded-1'>
                    <img id='main-image' src='./assets/images/Home_intro.jpg' class='img-fluid'>
          </div>

          <div id='news_info' class='container'>
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                              <div id='carousel-controls' class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                                  class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                                  aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                                  aria-label="Slide 3"></button>
                              </div>
                              <div class="carousel-inner">
                                        <div class="carousel-item active">
                                                  <img src="./assets/images/0eeab55e046a1dfc277f3fdf9db143e9.jpg" height='300'
                                                            width='250' class="d-block w-100" alt="...">
                                                  <div id='caption' class="carousel-caption d-none d-md-block">
                                                            <h5 style='color:black'>First slide label</h5>
                                                            <p style='color:black'>Some representative placeholder content for the
                                                                      first slide.</p>
                                                  </div>
                                        </div>
                                        <div class="carousel-item">
                                                  <img src="./assets/images/cute-boy-girls-doing-karate-judo-white-blue-kimono-children-practicing-martial-arts-vector-illustration-cute-boy-159896800.jpg"
                                                            class="d-block w-100" width='250' height='300' alt="...">
                                                  <div id='caption' class="carousel-caption d-none d-md-block">
                                                            <h5 style='color:black'>Second slide label</h5>
                                                            <p style='color:black;'>Some representative placeholder content for
                                                                      the second slide.</p>
                                                  </div>
                                        </div>
                                        <div class="carousel-item">
                                                  <img src="./assets/images/images.jpg" width='250' height='300'
                                                            class="d-block w-100" alt="...">
                                                  <div id='caption' class="carousel-caption d-none d-md-block">
                                                            <h5 style='color:black'>Third slide label</h5>
                                                            <p style='color:black'>Some representative placeholder content for the
                                                                      third slide.</p>
                                                  </div>
                                        </div>
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                              </button>
                    </div>
          </div>
</header>