<header>

          <div id='header-border' class='.container-fluid row bg-dark'></div>
          
          {{!-- <div id='title-logo-container' class='.container-fluid row justify-content-between bg-dark'>
          
                    <div id='title-container' class='col'>
                              <h1 class='text-white bg-dark' id='main-title'>Athens Judo club</h1>
                    </div>
                    <div id='logo-container' class='col'>
                              <img id='logo' src='./assets/images/479px-Judo_red_belt.svg.png' width='200' height='100'>
                    </div>
          
          </div> --}}
          
          <nav id='navigation-bar' class="navbar navbar-expand-lg" aria-label="Tenth navbar example">
                    <div class="container-fluid">
                              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarsExample08" aria-controls="navbarsExample08"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <a class="navbar-brand" href=#'>
                                                  <img id='judoButton' src='./assets/images/judo.png' width='24'
                                                            height='24'>
                                        </a>
                              </button>

                              <div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08"
                                        style="">
                                        <ul class="navbar-nav">
                                                  <li class="nav-item">

                                                            <a class="nav-link {{isNewsActive}}" aria-current="page"
                                                                      href="./News.html">Judo News</a>
                                                  </li>

                                                  <li class="nav-item">
                                                            <a class="nav-link {{isHomeActive}}" href="./Home.html"
                                                                      tabindex="-1" aria-disabled="true">Home</a>
                                                  </li>
                                                  <li class="nav-item">
                                                            <a class="nav-link {{isMediaActive}}" href="./Media.html"
                                                                      tabindex="-1" aria-disabled="true">Media</a>
                                                  </li>
                                                  <li class="nav-item dropdown">
                                                            <a class="nav-link dropdown-toggle" href="#" id="dropdown08"
                                                                      data-bs-toggle="dropdown"
                                                                      aria-expanded="false">More</a>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdown08">
                                                                      <li><a class="dropdown-item" href="#">Calendar</a>
                                                                      </li>
                                                                      <li class=>
                                                                                <a class="dropdown-item" href="#">Join
                                                                                          us!</a>
                                                                      </li>
                                                                      <li><a class="dropdown-item" href="#">Contact
                                                                                          us</a></li>
                                                            </ul>
                                                  </li>
                                        </ul>
                              </div>
                    </div>
          </nav>
          <div id='header-border' class='.container row bg-dark'></div>
          <div id='main-image-container' class='container row justify-content-center'>
                    <img id='main-image' src='./assets/images/Home_intro.jpg' class='img-fluid'>
          </div>
</header>